.navbar.navbar-fixed-bottom.navbar-inverse.big-footer
  .container
    .row
      %ul.nav.navbar-nav.pull-right
        %li        
          %a{href: "#", style:'text-decoration:none'}
            %span{style:'font-size:4em'}
              This is a cool footer
              %span.glyphicon.glyphicon-thumbs-up
            
    .row
      %ul.nav.navbar-nav
        %li
          %a{href: "#", style:'text-decoration:none'}
            %strong 
              inTouch
              %small &copy;
    
